
body{
    background-color: darkgray;
}
#myid{
    color: brown;
    text-decoration: underline;
}
.data{
    color: chocolate;
}
#btn{
    color: white;
}
#mycard{
    display: flex;
    justify-content: space-between;
}